{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS, JS -->
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>

    <title>Армяне ПГУ</title>

    <link rel="icon" href= "https://cdn.countryflags.com/thumbs/armenia/flag-round-250.png" SameSite=None type="image/x-icon">

</head>
<body>
    <header>
        <div class='container'>
            <div class="logo-block">
                <a href="/home/"><img src="{% static 'main/images/armenians_logo.png' %}" class="logo"></img></a>
            </div>
            <ul class="nav-ul">
                <li class="nav-li">О нас<a href="#about" class="nav-link"></a></li>
                <li class="nav-li">Галерея<a href="#gallery" class="nav-link"></a></li>
                <li class="nav-li">Вступить<a href="#contact" class="nav-link"></a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </header>
    <script src="{% static 'main/js/hamburger.js' %}"></script>

    <content>
        <div class="about" id="about">
            <div class="content-box">
                <p>
                    Հայեր միացեք
                </p>
                <div class="about-block">
                    <p>
                        <!--  Ты армянин?<br>
                        Тебе нравится армянский язык?<br>
                        Интересуешься историей и культурой армянского народа?<br>
                        Если ответ на эти вопросы «да», то -->
                        Добро пожаловать в Центр 
                        армянского языка и культуры ПГУ, где мы:
                        <!-- Ждем вас всех в нашем Центре, 
                        который располагается в ПГУ на 2 
                        этаже ИИЯМТ 211 аудитория -->
                    </p>
                    <div class="about-deeds-flexbox">
                        <div class="about-deed n1" style="background: url('{% static 'main/images/1.png' %}')">
                            Проводим мероприятия
                        </div>
                        <div class="about-deed n2" style="background: url('{% static 'main/images/2.png' %}')">
                            Учим армянский язык и историю Армении
                        </div>
                        <div class="about-deed n3" style="background: url('{% static 'main/images/3.png' %}')">
                            Участвуем в жизни университета
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery" id="gallery">
            <div class="content-box">
                <div class="gallery-headline-block"><p class="gallery-headline">Галерея</p></div>
                <div class="gallery-flexbox">
                    <span class="gallery-item" >
                        <i>День Национальности</i>
                        <img src="{% static 'main/images/nationality_day.jpg' %}", class="gallery-image">
                    </span>
                    <span class="gallery-item">
                        <i>Вечер В Армянском Центре</i>
                        <img src="{% static 'main/images/sitting.jpg' %}", class="gallery-image">
                    </span>
                    <span class="gallery-item">
                        <i>В Гостях У Аруси Кавказ</i>
                        <img src="{% static 'main/images/Arusia.png' %}", class="gallery-image">
                    </span>
                </div>
            </div>
        </div>
        <div class="contact" id="contact">
            <div class="content-box" style="padding: 0;">
                <div class="contact-flexbox">
                    <span class="contact-item">
                        <div class="contact-headline"><button class="contact-item-link" onclick="copyPhone()"></button><i>Вступи</i></div>
                        <span class = "contact-item-flexbox">
                            <img align="middle" src="{% static 'main/images/whatsapp.png' %}" class="contact-logo">
                            <span class="contact-details">
                                <span class="contact-text">+7 962 445-33-63</span>
                                <span style="padding:0 0 10px 5px;"class="contact-text">Нарине Кареновна</span>
                            </span>
                        </span>
                    </span>
                    <span class="contact-item">
                        <div class="contact-headline"><a class="contact-item-link" target="_blank" href="https://instagram.com/armcenter/"></a><i>Подпишись</i></div>
                        <span class = "contact-item-flexbox">
                            <img align="middle" src="{% static 'main/images/instagram.png' %}" class="contact-logo">
                            <span class="contact-text" style="padding-bottom: 10px; margin-right: 70px">@armcenter</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </content>
</body>
</html>
