{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS, JS -->
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>

    <title>Армяне ПГУ</title>

    <link rel="icon" href= "https://cdn.countryflags.com/thumbs/armenia/flag-round-250.png" type="image/x-icon">

</head>
<body>
    <header>
        <div class='container'>
            <div class="logo-block">
                <a href="/home/"><img src="{% static 'main/images/armenians_logo.png' %}" class="logo"></img></a>
            </div>
            <ul class="nav-ul">
                <li class="nav-li">О нас<a href="#about"></a></li>
                <li class="nav-li">Галерея<a href="#gallery"></a></li>
                <li class="nav-li">Вступить<a href="#contact"></a></li>
            </ul>
            </span>
        </div>
    </header>

    <content>
        <div class="about" id="about">
            <div class="content-box">
                <p>
                    Հայեր միացեք
                </p>
            </div>
        </div>
        <div class="gallery" id="gallery">
            <div class="content-box">
                <div><p class="gallery-headline">Галерея</p></div>
                <div class="gallery-flexbox">
                    <span class="gallery-item" >
                        <p>День Национальности</p>
                        <img src="{% static 'main/images/nationality_day.jpg' %}", class="gallery-image">
                    </span>
                    <span class="gallery-item">
                        <p>Вечер В Армянском Центре</p>
                        <img src="{% static 'main/images/sitting.jpg' %}", class="gallery-image">
                    </span>
                    <span class="gallery-item">
                        <p>В Гостях У Аруси Кавказ</p>
                        <img src="{% static 'main/images/Arusia.png' %}", class="gallery-image">
                    </span>
                </div>
            </div>
        </div>
        <div class="contact" id="contact">
            <div class="content-box">

            </div>
        </div>
    </content>
</body>
</html>
