body{
    margin: 0;
}
header {
    height: 70px;
    max-width: 1920px;
}
.logo {
    width: 250px;
    margin-left: 30px;
    margin-top: 17px;
}
.logo-block{
    height: 70px;
    background-color: #191919; /* Блевотный цвет Эдуарда -- #281c01 */
}
.nav-ul{
    list-style:none;
    margin: 0;
    padding: 0;
}
.nav-li{
    float:left;
}