body{
    margin: 0;
}

header {
    background-color: #191919; /* Блевотный цвет Эдуарда -- #281c01 */
    height: 50px;
    max-width: 1920px;
}

content {

}

.container {
    max-width: 200px;
    align-self: center;
}

.logo {
    height: 32px;
    margin-left: 3%;
    margin-top: 9px;
}
.logo-block{
}
.nav-ul{
    list-style:none;
    margin: 0;
    padding: 0;
}
.nav-li{
    float:left;
}